@media screen and (max-width: 992px){
        h1{
            font-size: calc(2rem + 1.8vw)!important;
        }
        h2{
            font-size: calc(1rem + 1.8vw)!important;
        }
        h5{
            font-size: calc(1rem + 1vw)!important;
        }
        #testimonial {
            padding-bottom: 0!important;

            #client-slide .owl-nav {
                button span {
                    font-size: 50px!important;
                }
                top: -125px!important;
            }
        }
       #pricing{
           .item{
            border: 1px solid #e6e9ec;
           }
       }
}