@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Inter:wght@400;500;600&display=swap");
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 992px) {
  h1 {
    font-size: calc(2rem + 1.8vw) !important;
  }
  h2 {
    font-size: calc(1rem + 1.8vw) !important;
  }
  h5 {
    font-size: calc(1rem + 1vw) !important;
  }
  #testimonial {
    padding-bottom: 0 !important;
  }
  #testimonial #client-slide .owl-nav {
    top: -125px !important;
  }
  #testimonial #client-slide .owl-nav button span {
    font-size: 50px !important;
  }
  #pricing .item {
    border: 1px solid #e6e9ec;
  }
}

body* {
  font-family: "Inter", serif;
}

body header {
  z-index: 3;
  height: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

body header.sticky-nav {
  height: auto;
  top: 0;
  background-color: #000;
}

body header.sticky-nav .navbar .nav-link {
  padding: 30px 0px !important;
}

body header.sticky-nav .navbar .nav-link span::before {
  top: 0px;
}

body header .navbar .navbar-toggler {
  display: inline-block;
}

body header .navbar .navbar-toggler span {
  display: block;
  height: 2.5px;
  width: 30px;
  border-radius: 3px;
  background-color: #fff;
  margin: 7px;
}

body header .navbar .navbar-toggler:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

body header .navbar .navbar-nav li {
  position: relative;
}

body header .navbar .navbar-nav li a.nav-link {
  color: #fff;
  text-transform: uppercase;
  line-height: 30px;
  padding: 52px 0px;
  font-size: 14px;
  margin-right: 32px;
  text-align: center;
  -webkit-transition: all .7s;
  transition: all .7s;
}

body header .navbar .navbar-nav li a.nav-link span {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body header .navbar .navbar-nav li a.nav-link span::before {
  content: "";
  height: 1.5px;
  width: 0%;
  background-color: #fff;
  position: absolute;
  bottom: 0px;
  -webkit-transition: .7s;
  transition: .7s;
}

body header .navbar .navbar-nav li a.nav-link:hover span::before, body header .navbar .navbar-nav li a.nav-link.active span::before {
  width: 100% !important;
}

body header .navbar .navbar-nav li .inner-menu {
  padding: 15px 20px;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 220px;
  position: absolute;
  left: -35px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 1s;
  transition: all 1s;
}

body header .navbar .navbar-nav li .inner-menu .inner-nav-link {
  display: inline-block;
  padding: 5px;
  color: #000;
}

body header .navbar .navbar-nav li .inner-menu .inner-nav-link span.selector {
  display: inline-block;
  opacity: 0;
  position: relative;
  width: 0;
  -webkit-transition: .7s;
  transition: .7s;
}

body header .navbar .navbar-nav li .inner-menu .inner-nav-link span.selector span {
  display: inline-block;
  opacity: 1;
  height: 4px;
  width: 4px;
  border-radius: 8px;
  background-color: black;
  -webkit-transition: .5s;
  transition: .5s;
}

body header .navbar .navbar-nav li .inner-menu .inner-nav-link span.selector span::before, body header .navbar .navbar-nav li .inner-menu .inner-nav-link span.selector span::after {
  content: "";
  padding: 0;
  display: inline-block;
  position: absolute;
  height: 4px;
  width: 4px;
  border-radius: 8px;
  background-color: #868686;
  left: 0;
  -webkit-transition: .7s;
  transition: .7s;
}

body header .navbar .navbar-nav li .inner-menu .inner-nav-link:hover .selector {
  width: 20px;
  opacity: 1;
}

body header .navbar .navbar-nav li .inner-menu .inner-nav-link:hover .selector span::before {
  left: 7px;
}

body header .navbar .navbar-nav li .inner-menu .inner-nav-link:hover .selector span::after {
  left: -7px;
}

body header .navbar .navbar-nav li .inner-menu.inner-menu-active {
  left: 0;
  opacity: 1;
  visibility: visible;
}

body header #sidebar {
  position: fixed;
  top: 0;
  left: 100%;
  -webkit-transition: .7s;
  transition: .7s;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.623);
  z-index: 7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body header #sidebar .side-menu {
  width: 290px;
  background-color: #fff;
}

body header #sidebar .side-menu .close-btn {
  position: absolute;
  right: 25px;
  top: 35px;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

body header #sidebar .side-menu .close-btn span {
  height: 100%;
  width: 100%;
  display: inline-block;
  position: relative;
}

body header #sidebar .side-menu .close-btn span::before, body header #sidebar .side-menu .close-btn span::after {
  content: "";
  height: 25px;
  width: 1px;
  background-color: #555;
  position: absolute;
  top: 0;
  left: 15px;
}

body header #sidebar .side-menu .close-btn span::before {
  -webkit-transform: rotate(43deg);
          transform: rotate(43deg);
}

body header #sidebar .side-menu .close-btn span::after {
  -webkit-transform: rotate(-43deg);
          transform: rotate(-43deg);
}

body header #sidebar .side-menu ul li a {
  text-transform: uppercase;
  padding: 1rem 2rem;
  color: #000;
}

body header #sidebar .side-menu ul li a span::before {
  font-size: 10px;
}

body header #sidebar .side-menu ul.inner-menu {
  display: none;
}

body header .langs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body header .langs a {
  display: inline-block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.637);
  margin-right: 40px;
}

body header .langs a.active-lang {
  color: #fff;
}

body .more-about {
  position: relative;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 18px;
  line-height: 30px;
  padding: 15px 40px;
  text-transform: uppercase;
  overflow: hidden;
  background-color: #ffe1a0;
  color: #000000;
  -webkit-transition: .7s;
  transition: .7s;
  margin-bottom: 100px;
}

body .more-about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #252525;
  opacity: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  z-index: -1;
  -webkit-transition: .7s;
  transition: .7s;
}

body .more-about:hover {
  z-index: 1;
  color: #fff;
}

body .more-about:hover::before {
  opacity: 1;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

body .section-title h5 {
  color: #666666;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.8em;
  letter-spacing: 1px;
  margin-bottom: 25px;
  text-transform: uppercase;
}

body .section-title a {
  color: #666666;
  font-size: 18px;
  padding-top: 15px;
  display: inline-block;
  text-transform: uppercase;
}

body .section-title h2 {
  color: #000000;
  font-weight: 400;
  font-size: 42px;
  line-height: 1.2em;
}

body #home {
  position: relative;
  height: 150vh;
}

body #home .owl-carousel .item {
  height: 150vh;
  background: -webkit-gradient(linear, left bottom, left top, from(#00000067), to(#00000067)), url(/assets/img/image-1.jpg);
  background: linear-gradient(0deg, #00000067, #00000067), url(/assets/img/image-1.jpg);
  background-size: cover;
  color: #fff;
}

@-webkit-keyframes textScale {
  0% {
    margin-top: -50px;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    opacity: 0;
  }
  100% {
    margin-top: 0;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
  }
}

@keyframes textScale {
  0% {
    margin-top: -50px;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    opacity: 0;
  }
  100% {
    margin-top: 0;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
  }
}

body #home .owl-carousel .item .text-box {
  padding: 20px;
  top: 25%;
  position: absolute;
}

body #home .owl-carousel .item .text-box .sub-title {
  line-height: 1.7em;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity: 0;
  margin-bottom: 2rem;
}

body #home .owl-carousel .item .text-box .title {
  line-height: 1em;
  margin-bottom: 5rem;
  font-size: 100px;
  opacity: 0;
}

body #home .owl-carousel .item .text-box .sub-title,
body #home .owl-carousel .item .text-box .title {
  letter-spacing: 5px;
  font-weight: 400;
}

body #home .owl-carousel .owl-dots {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body #home .owl-carousel .owl-dots button {
  outline: none;
  margin-bottom: 25px;
}

body #home .owl-carousel .owl-dots button span {
  width: 14px;
  height: 14px;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.35);
}

body #home .owl-carousel .owl-dots button.active span {
  background-color: white;
}

body #home .down-about {
  display: inline-block;
  width: 50px;
  height: 30px;
  margin: 20px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

body #home .down-about .down-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 10px;
  width: 30px;
  margin: auto;
}

body #home .down-about .down-icon:first-child {
  -webkit-animation: down1 1s infinite;
          animation: down1 1s infinite;
}

body #home .down-about .down-icon:nth-child(2) {
  -webkit-animation: down2 1s infinite;
          animation: down2 1s infinite;
}

body #home .down-about .down-icon:last-child {
  -webkit-animation: down3 1s infinite;
          animation: down3 1s infinite;
}

body #home .down-about .down-icon::before, body #home .down-about .down-icon::after {
  content: "";
  background-color: blanchedalmond;
  position: absolute;
  height: 5px;
  width: 18px;
}

body #home .down-about .down-icon::before {
  -webkit-transform: translateX(70%) rotate(-35deg);
          transform: translateX(70%) rotate(-35deg);
}

body #home .down-about .down-icon::after {
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
}

@-webkit-keyframes down1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    margin-top: -10px;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    margin-top: 0px;
  }
}

@keyframes down1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    margin-top: -10px;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    margin-top: 0px;
  }
}

@-webkit-keyframes down2 {
  0% {
    margin-top: -3px;
  }
  100% {
    margin-top: 0;
  }
}

@keyframes down2 {
  0% {
    margin-top: -3px;
  }
  100% {
    margin-top: 0;
  }
}

@-webkit-keyframes down3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    margin-top: -5px;
  }
}

@keyframes down3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    margin-top: -5px;
  }
}

body #services {
  position: relative;
  margin-top: 100px;
}

body #services .pattern {
  position: absolute;
  left: -200px;
  top: 0px;
  width: 336px;
  height: 336px;
}

body #services .item {
  border: 1px solid #d9d9d9;
  position: relative;
  margin-top: 30px;
  padding: 30px;
}

body #services .item::before {
  content: "";
  height: 100%;
  width: 5px;
  position: absolute;
  left: -1px;
  top: 0;
  -webkit-transition: .7s;
  transition: .7s;
  -webkit-transform: scale(0);
          transform: scale(0);
  background-color: #ffd659;
}

body #services .item:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

body #services .item:hover a {
  text-decoration: underline;
}

body #services .item:hover .icon::before {
  -webkit-animation: iconHover .5s;
          animation: iconHover .5s;
}

body #services .item a {
  color: #000;
}

@-webkit-keyframes iconHover {
  0% {
    -webkit-transform: rotate(180deg) scale(0.4);
            transform: rotate(180deg) scale(0.4);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}

@keyframes iconHover {
  0% {
    -webkit-transform: rotate(180deg) scale(0.4);
            transform: rotate(180deg) scale(0.4);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}

@-webkit-keyframes iconOut {
  0% {
    -webkit-transform: rotate(-180deg) scale(0.4);
            transform: rotate(-180deg) scale(0.4);
  }
  100% {
    -webkit-transform: rotate(-360deg) scale(1);
            transform: rotate(-360deg) scale(1);
  }
}

@keyframes iconOut {
  0% {
    -webkit-transform: rotate(-180deg) scale(0.4);
            transform: rotate(-180deg) scale(0.4);
  }
  100% {
    -webkit-transform: rotate(-360deg) scale(1);
            transform: rotate(-360deg) scale(1);
  }
}

body #services .item .icon::before {
  font-size: 54px;
  display: inline-block;
  -webkit-animation: iconOut .5s;
          animation: iconOut .5s;
  margin: 0;
}

body #services .right {
  min-height: 250px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body #services .right img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body #projects #project-slide .item {
  position: relative;
  overflow: hidden;
}

body #projects #project-slide .item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: #ffe1a0;
  color: #000;
  -webkit-transition: .7s;
  transition: .7s;
  margin: 0;
}

body #projects #project-slide .item:hover::after {
  width: 100%;
}

body #projects #project-slide .item:hover::before {
  opacity: 1;
}

body #projects #project-slide .item:hover .text,
body #projects #project-slide .item:hover .text a {
  color: #000;
  -webkit-box-shadow: none;
          box-shadow: none;
}

body #projects #project-slide .item::before {
  content: "\f103";
  position: absolute;
  z-index: 2;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  top: 20px;
  right: 30px;
  font-size: 30px;
  color: #000;
}

body #projects #project-slide .item img {
  height: 100%;
}

body #projects #project-slide .item .text {
  -webkit-box-shadow: -6px -93px 100px -54px rgba(0, 0, 0, 0.75) inset;
          box-shadow: -6px -93px 100px -54px rgba(0, 0, 0, 0.75) inset;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  bottom: 0px;
  padding: 0 40px 40px;
  z-index: 2;
  color: #fff;
}

body #projects #project-slide .item .text h5 {
  font-weight: 400;
}

body #projects #project-slide .item .text a {
  color: #fff;
}

body #projects #project-slide .owl-dots {
  margin: 50px 0;
}

body #projects #project-slide .owl-dots .owl-dot:focus {
  outline: none;
}

body #projects #project-slide .owl-dots .owl-dot.active span {
  background-color: #ffe8a3;
}

body #about {
  width: 100%;
}

body #about h5.desc {
  margin: 30px 0;
  font-size: 24px;
  text-transform: unset;
  line-height: 1.4em;
  letter-spacing: 0;
}

body #about p {
  font-size: 14px;
  margin-bottom: 80px;
  color: #666666;
}

body #about .right {
  position: relative;
  min-height: 100vh;
}

body #about .right .pattern {
  position: absolute;
  top: 20%;
  left: -20px;
  width: 80%;
}

body #about .right .img-box {
  position: absolute;
  z-index: 1;
  right: 20px;
  max-width: 70%;
  min-width: 65%;
  height: 100%;
}

body #about .right .img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body #pricing a {
  color: rgba(136, 136, 136, 0.719);
}

body #pricing a.active {
  color: #000;
}

body #pricing .row {
  border: 1px solid #e6e9ec;
}

body #pricing .item {
  border-right: 1px solid #e6e9ec;
  padding: 2.5rem;
  -webkit-animation: none;
          animation: none;
}

@-webkit-keyframes slideUp {
  0% {
    margin-top: 30px;
  }
  100% {
    margin-top: 0px;
  }
}

@keyframes slideUp {
  0% {
    margin-top: 30px;
  }
  100% {
    margin-top: 0px;
  }
}

body #pricing .info {
  font-family: "Inter", sans-serif;
}

body #pricing .info h4 {
  color: #999999;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

body #pricing .info p {
  position: relative;
  color: #666666;
  font-size: 14px;
  line-height: 1.8em;
  padding-bottom: 25px;
  margin-bottom: 28px;
  border-bottom: 1px dashed #cccccc;
}

body #pricing .info .price {
  color: #669900;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.3em;
  margin-top: 18px;
  margin-bottom: 15px;
}

body #pricing .info .price span {
  color: #000000;
  font-size: 20px;
}

body #pricing ul {
  min-height: 210px;
}

body #pricing ul li {
  font-size: 16px;
  margin-bottom: 14px;
  font-family: "Inter", sans-serif;
}

body #pricing ul li::before {
  color: #669900;
  font-size: 15px;
  padding: 0;
  margin: 0;
  margin-right: 10px;
}

body #pricing .start-btn {
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: 14px;
  line-height: 30px;
  padding: 11px 32px;
  font-weight: 400;
  overflow: hidden;
  border-radius: 0px;
  color: #000;
  text-transform: uppercase;
  border: 1px solid #969696;
  text-align: center;
}

body #pricing .start-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  background-color: #ffe1a0;
  -webkit-transition: .7s;
  transition: .7s;
}

body #pricing .start-btn:hover {
  border: 1px solid #ffe1a0;
}

body #pricing .start-btn:hover::before {
  opacity: 1;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

body #pricing p > a {
  text-decoration: underline;
  color: #0099ff;
}

body #testimonial {
  background-color: #eef2f2;
  padding: 60px 20px;
}

body #testimonial #client-slide .item {
  background-color: #fff;
}

body #testimonial #client-slide .item .box {
  position: relative;
  padding: 25px 32px 35px;
  border: 1px solid #e1e1e1;
}

body #testimonial #client-slide .item .box::before {
  position: absolute;
  color: #ffe1a0;
  top: 30px;
  right: 40px;
  font-size: 40px;
}

body #testimonial #client-slide .item .box .author {
  color: #263a4f;
  font-size: 18px;
  font-weight: 400;
  margin-top: 60px;
  font-family: 'Heebo', sans-serif;
}

body #testimonial #client-slide .item .box p,
body #testimonial #client-slide .item .box .author > span {
  color: #8d9aa8;
  font-size: 14px;
  font-weight: 400;
}

body #testimonial #client-slide .item .box p {
  line-height: 1.8em;
  margin-top: 15px;
  margin-bottom: 0px;
}

body #testimonial #client-slide .owl-nav {
  position: absolute;
  top: -155px;
  right: 0;
}

body #testimonial #client-slide .owl-nav button {
  margin-left: 50px;
  outline: none;
}

body #testimonial #client-slide .owl-nav button:hover {
  background-color: unset;
}

body #testimonial #client-slide .owl-nav button span {
  font-size: 80px;
  color: dimgray;
}

body #testimonial #sponsor-slide .item {
  padding: 25px 32px 35px;
}

body #testimonial #sponsor-slide .item img {
  width: 100%;
  opacity: .3;
  -webkit-transition: .7s;
  transition: .7s;
}

body #testimonial #sponsor-slide .item:hover img {
  opacity: 1;
}

body #editorials {
  background-color: #eef2f2;
  padding: 40px 20px 120px;
}

body #editorials .img-box {
  width: 100%;
}

body #editorials .img-box img {
  width: 100%;
}

body #editorials .text-box {
  margin-top: 16px;
}

body #editorials .text-box a,
body #editorials .text-box h4 {
  color: #000;
  font-weight: 400;
  font-size: 24px;
  -webkit-transition: .7s;
  transition: .7s;
}

body #editorials .text-box a:hover,
body #editorials .text-box h4:hover {
  text-decoration: underline;
  color: #dac08a;
}

body #editorials .text-box .date {
  color: #999999;
  font-size: 14px;
  margin-top: 10px;
}

body #editorials .text-box .date span {
  color: #000000;
}

body .switch-btn .form-switch {
  display: inline-block;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  padding: 0;
  margin: 0 10px;
}

body .switch-btn .form-switch i {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
  background-color: #669900;
  -webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.15);
  border-radius: 23px;
  vertical-align: text-bottom;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

body .switch-btn .form-switch i::before {
  content: "";
  position: absolute;
  left: 0;
  width: 42px;
  height: 20px;
  background-color: #669900;
  border-radius: 12px;
  -webkit-transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
          transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

body .switch-btn .form-switch i::after {
  content: "";
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 11px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
  -webkit-transform: translate3d(2px, 2px, 0);
          transform: translate3d(2px, 2px, 0);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

body .switch-btn .form-switch:active i::after {
  width: 28px;
  -webkit-transform: translate3d(2px, 2px, 0);
          transform: translate3d(2px, 2px, 0);
}

body .switch-btn .form-switch:active input:checked + i::after {
  -webkit-transform: translate3d(16px, 2px, 0);
          transform: translate3d(16px, 2px, 0);
}

body .switch-btn .form-switch input {
  display: none;
}

body .switch-btn .form-switch input:checked + i {
  background-color: #669900;
}

body .switch-btn .form-switch input:checked + i::before {
  -webkit-transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
          transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
}

body .switch-btn .form-switch input:checked + i::after {
  -webkit-transform: translate3d(22px, 2px, 0);
          transform: translate3d(22px, 2px, 0);
}

body footer .footer-menu .tab ul > li,
body footer .footer-menu .tab a {
  color: #666666;
  font-size: 14px;
  line-height: 1.9em;
  margin-bottom: 10px;
  text-transform: uppercase;
}

body footer .footer-menu .tab h3 {
  line-height: 1.3em;
  margin-bottom: 28px;
  font-weight: 400;
}

body footer .footer-bottom .copyright {
  color: #999999;
  font-size: 14px;
  font-weight: 400;
}

body footer .footer-bottom .copyright span {
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

body footer .footer-bottom .nav li {
  margin: 0px 6px;
}

body footer .footer-bottom .nav li a {
  color: #000000;
  font-size: 14px;
  text-transform: uppercase;
  -webkit-transition: .7s;
  transition: .7s;
}

body footer .footer-bottom .nav li a:hover {
  color: #3c84d1;
}

body footer .footer-bottom .lang ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body footer .footer-bottom .lang ul li {
  margin-left: 30px;
}

body footer .footer-bottom .lang ul li a {
  color: #8d9aa8;
  font-size: 14px;
  text-transform: uppercase;
}

body footer .footer-bottom .lang ul li a:hover {
  color: #000;
}
/*# sourceMappingURL=style.css.map */